#link {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: 14px;
}

#link:hover {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 10px;
  opacity: 0.9;
}
